.container {
    text-align: center;
    max-width: 1000px;
    margin: 30px auto;
}

button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    margin: 11px 30px;
    font-size: 18px;
    float: right;
}

button:hover {
    opacity: 90%;
    transition: 0.1s ease;
}

.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.locations,
.amenities {
    height: 100%;
    width: 25%;
    float: left;
}

.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0% 0%;
    text-align: left;
    margin-left: 30px;
}

.locations {
    border-right: #DDDDDD solid 1px;
}

.locations h3,
.amenities h3 {
    font-weight: 600;
    margin-left: 30px;
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 0%;
}